@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css หลักใช้ทุกๆหน้า */
:root {
    --footet_header-color: rgb(255, 245, 158);
    --botton-color:#FFB719;
  }
body {
    max-width: 1980px;
    min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

.logo {
    width: 4em;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 0;
    display: none;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.navbar {
    background-color: var(--footet_header-color);
}

.imgfooter {
    width: 12em;
}

.foott {
    background-color: var(--footet_header-color);
}
.btncontact{
    font-size: 1.4em;
    word-spacing: .2em;
 }
 .btncontact a{
    color: rgb(48, 48, 48);
 }
 .btncontact a:hover{
    color: black;
 }
/* End */

th {
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: .7em;
    font-size: 1.em;
    font-weight: normal;
}
td{
    border: 2px solid rgb(235, 235, 235);
}

.imgabout {
    width: 14em;
    padding: 2em 0 0 2em;

}

.textabout {
    padding: 0 2em 0 2em;
    font-size: 1.1em;
}

.content {
    width: 100%;
    padding: 20px;
}

.iconphone a {
    color: rgb(128, 128, 128);
}

.iconphone a:hover {
    color: rgb(0, 0, 0);
}

.contact {
    margin-left: 2em;
    line-height: 1.7em;
    font-size: 1.1em;
    word-spacing: .2em;
}

.Facebook {
    color: rgb(0, 81, 255);
}

.ig {
    color: crimson;
}

.iline {
    color: rgb(0, 165, 0);
}