@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css หลักใช้ทุกๆหน้า */
:root {
   --footet_header-color: rgb(255, 245, 158);
   --botton-color:#FFB719;
}
body {
    max-width: 1980px;      
    min-width: 320px;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
    background-color: rgb(255, 255, 255);
  }
  .navbar{
   background-color: var(--footet_header-color);
  }
  .logo {
    width: 4em;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 0;
    display: none;
  }

  .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
  .foott{
   background-color: var(--footet_header-color);
  }

 .line-text{
    display: flex;
    align-items: center;
    text-align: center;
 }
 .line-text hr{
    flex: 1;
 }
 .line-text span{
    margin: 15px 10px;
 }

.iconphone a {
  color: rgb(117, 117, 117);
}

.iconphone a:hover {
  color: rgb(0, 0, 0);
}

.btncontact{
    font-size: 1.4em;
    word-spacing: .2em;
  }
  .btncontact a{
    color: rgb(48, 48, 48);
  }
  .btncontact a:hover{
    color: black;
  }


  /* end */



.heart-icon {
    color: #ff4d4d;
    cursor: pointer;
    margin-right: 3em;
}

.add-to-cart {
    background-color: #ffc107;
    border: none;
    margin-right: 1em;
    margin-top: 12em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}
.add-to-cart:hover{
    background-color: #ffb20c;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.30);
}

.add-to-cart a {
    text-decoration: none;
    color: #000;
    
}


.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #FF6F00;
}

.pdescription {
    margin-bottom: 0.5em;
}

.text-end {
    text-align: right;
}
.submit{
  padding: 20px;
}
.dropdown-menu {
  position: relative;
  right: 0;
  left: 100%; 
  width: 60px; 
}


#onIcon{
  margin-left: auto;
  margin-right: 20px;
  transform: translateY(-3%);
}

@media screen and (max-width: 574px) {
  .bi-person-fill,.bi-cart3,.bi-bell-fill{
    color: rgb(0, 0, 0 ,0.60);
  }
  
    p {
        font-size: 1.1em;
      
    }
    .pdescription {
    margin-bottom: 2em;
    }

    .add-to-cart {
    width: 50px;
    background-color: #ffc107;
    border: none;
    margin-right: 30px;
    margin-top: 9em;
}

    .heart-icon {
        color: #ff4d4d;
        cursor: pointer;
        margin-right: 1em;
    }
    .add-to-cart a {
            font-size: 0; 
        }

    .add-to-cart a i{
        font-size: 22px; 
        margin-right: 2px;
    }
  }
  
  .iconphone a {
    color: rgb(117, 117, 117); /* กำหนดสีหรือสไตล์อื่น ๆ */
}

.iconphone a:hover {
    color: rgb(0, 0, 0);
}
.bi-person-fill,.bi-cart3,.bi-bell-fill{
  color: rgb(0, 0, 0 ,0.60);
}
.add-to-cart span {
  display: none;
}






        
