@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css หลักใช้ทุกๆหน้า */
:root {
   --footet_header-color: rgb(255, 245, 158);
   --botton-color:#FFB719;
}


body {
    max-width: 1980px;
    min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
    background-color: whitesmoke;
}


.logo {
    width: 4em;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 0;
    display: none;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.navbar {
    background-color: var(--footet_header-color);
}

.imgfooter {
    width: 12em;
}

.foott {
    background-color: var(--footet_header-color);
}
.btncontact{
    font-size: 1.4em;
    word-spacing: .2em;
 }
 .btncontact a{
    color: rgb(48, 48, 48);
 }
 .btncontact a:hover{
    color: black;
 }

 /*จบตรงนี้*/


 .container{
    background-color: white;
    padding: 2em 3em ;

 }
 .icon-circle {
    width: 6em;
    height: 6em;
    background-color: #ffc107;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.icon-circle img {
    width: 3em;
    height: 3em;
}


.product-item:hover{
    background-color: #f9f9f981;
    
}

.product-item {
    background-color: rgb(245, 243, 243);
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 15px;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.a-product{
    text-decoration: none;
    color: black;
}
.product-image{
   
   width: 130px;
   height:auto;
}
.product-content{
    display: flex;
    
}
.product-content .col-9{
    margin-left: 50px;
}
.mb-0{
    font-size: 20px;
}
.span{
    color: orange;
    font-weight: 550;
}
@media screen and (max-width: 574px) {
    .bi-person-fill,.bi-cart3,.bi-bell-fill{
      color: rgb(0, 0, 0 ,0.60);
    }
    .product-item {
        background-color: rgb(245, 243, 243);
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 15px;
    }
    .product-image{
        margin-top: 10px;
        width: 60px;
        height:auto;
     }
     .mb-0{
        font-size: 11px;
        
     }
     h3{
        font-size: 16px;

     }
     .icon-circle {
        width: 4em;
        height: 4em;
        background-color: #ffc107;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .icon-circle img {
        width: 2em;
        height: 2em;
    }
    
    }
    .dropdown-menu {
        position: relative;
        right: 0;
        left: 100%; 
        width: 60px; 
      }
     
     
     #onIcon{
        margin-left: auto;
        margin-right: 20px;
        transform: translateY(-3%);
     }
