@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 :root {
    --footet_header-color: rgb(255, 245, 158);
    --botton-color: #FFB719;
}

#search-button {
    border: none;
    background-color: #FFB719;
    color: white;
    border-radius: 0 5px 3px 0;
    padding: 0 20px;
}


.input-group {
    margin-top: 20px;
}

.form-control {
    padding: 20px 15px;
}


#side-filters {
    float: left;
    max-width: 15em;
    margin: 0 30px 0 0;
}


footer {
    clear: both;
}


.price-range input {
    width: 70px;
}

/* Products */
.products {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.product img {
    max-width: 100%;
    
}

.product-title {
    font-size: 14px;
    margin: 10px 0;
}

.price-product {
    color: #FC5B00;
    font-size: 22px;
}

/* ปุ่ม */
.btn {
    background-color: #FFB719;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5em 0.9375em; 
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for hover */
}

.btn:hover {
    background-color: #FFA500;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.align-items-end {
    margin-top: 50px;
}

/* Filters */
.filters {
    margin: 0 0 0 3em;
}

.filters button { 
    margin-top: 2em;
    padding: 0.3em 3.5em;
    margin-left: auto;
    margin-right: auto;
}

.d-block {
    border: none;
}

.filters ul {
    list-style-type: none;
    padding-left: 0;
}

.filters li {
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.dropdown-menu {
    position: relative;
    right: 0;
    left: 100%; 
    width: 60px; 
  }
 
 
 #onIcon{
    margin-left: auto;
    margin-right: 20px;
    transform: translateY(-3%);
 }
 .card-img-top {
    width: 100%;
    height: 17em; 
    object-fit: cover; 
  }

@media screen and (max-width: 574px) {
    .bi-person-fill,.bi-cart3,.bi-bell-fill{
      color: rgb(0, 0, 0 ,0.60);
   
    }
    .pedigree-logo{
        margin-right: 1em;
        margin-top: 1em;
        width: 4em;
        height: 4em;

    }
    .chat h3{
        display: none;
    }
    .chat i{
        font-size:30px;       
        position: relative;
        top: 20px;
        left: 30px;
    }
    p,h2{
        margin: 15px 0 0 5px;
    }
    h2{
        font-size: 2em;
    }
    .shop{
        font-size: 1.2rem;
        margin-left: 1em;

    }
    .product-list {
        font-size: 1.2rem;
        margin-right: 1em;
    }
    
    .addcart i{
        color: white;
        font-size: 15px;
    }
    .addcart span{
        display: none;
        
    }
    .addcartlist span{
        font-size: 1em;
        display: none;
        color: white;
    
    }
    .addcartlist i{
        font-size: 1.5em;
        color: white;
       
    }
   
 

}
@media screen and (max-width: 991px) and (min-width:579px){
    .shop{
        font-size: 1.2rem;
        margin-left: 4em;

    }
    .product-list {
        font-size: 1.2rem;
        margin-right: 3em;
    }
    .filters .submit {
        position: relative;
        right: 3.5em;
        top: 2em;
    
    }
   
    .addcart span{
        display: none;
        
    }
    .addcartlist span{
        font-size: 1em;
        display: none;
        color: white;
    
    }
    .addcartlist i{
        font-size: 1.5em;
        color: white;
       
    }
    

   

}

