@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css หลักใช้ทุกๆหน้า */
:root {
    --footet_header-color: rgb(255, 245, 158);
    --botton-color:#FFB719;
  }
body {
    max-width: 1980px;
    min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

.logo {
    width: 4em;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 0;
    display: none;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.navbar {
    background-color: var(--footet_header-color);
}

.imgfooter {
    width: 12em;
}

.foott {
    background-color: var(--footet_header-color);
}
.btncontact{
    font-size: 1.4em;
    word-spacing: .2em;
 }
 .btncontact a{
    color: rgb(48, 48, 48);
 }
 .btncontact a:hover{
    color: black;
 }
/* End */
 
.btnadd{
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  padding: .5em;
  display: block;
  border-radius: 10px;
 }

 .btnadd:hover{
  background-color: rgb(243, 243, 243);
 }
 .btn{
  width: 100%;
 }
 .address{
  margin-top: 1em;
  padding: 1em;
  text-align: center;
 }
 .box{
  padding: 20px;
  border: 1px solid rgb(190, 190, 190);
 }

 
.bank-details{
  border: 1.9px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.btncash{
  border: none;
  background-color: rgb(255, 201, 23);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
}
.btncash:hover{
  background-color: rgb(255, 196, 0);
}

.linkb{
    color: #000000;
    text-decoration: none;
  }
  .linkb:hover{
    text-decoration: underline;
}
.iconphone a {
    color: rgb(117, 117, 117);
}

.iconphone a:hover {
    color: rgb(0, 0, 0);
}
.howtoimg{
  width: 80%;
}

.howto p{
  font-size: 1.2em;
}